$primary-color: #272727;
$accent-color: #313131;
$text-color: #fff;
$nav-color: #5f9ea0;
$underline: #E3E3E3;
$links: #11ABB0;
$font-weight: (
    "normal": 400,
    "medium": 500,
    "bold": 700
);
$font-type: "Raleway", Montserrat;
$padding: 15px;
$borders: 15px;
$desktop: 840px;