@import './resets';
@import './variables';

@media only screen and (max-width: 1024px) {
  header .banner-text h1 {
    font: 80px/1.1em $font-type;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
  }
}

@media only screen and (max-width: 900px) {
  header {
    .banner {
      padding-bottom: 12px;
    }

    .banner-text {
      h1 {
        font: 78px/1.1em $font-type;
        letter-spacing: -1px;
      }

      h3 {
        font: 17px/1.9em $font-type;
        width: 80%;
      }

      hr {
        width: 65%;
        margin: 12px auto;
      }
    }
  }

  #nav-wrap {
    font: 11px $font-type;
    letter-spacing: 1.5px;
    background-color: black;
  }
}

@media only screen and (max-width: 767px) {
  #nav-wrap {
    font: 12px $font-type;
    background: transparent !important;
    letter-spacing: 1.5px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;

    > a {
      width: 48px;
      height: 48px;
      text-align: left;
      background-color: $nav-color;
      position: relative;
      border: none;
      float: right;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      position: relative;
      top: 0px;
      right: 30px;
      margin-top: 20px;

      &:before {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
      }

      &:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
        top: 60%;
      }
    }

    &:not(:target) > a:first-of-type, &:target > a:last-of-type {
      display: block;
    }

    ul#nav {
      height: auto;
      display: none;
      clear: both;
      width: auto;
      float: right;
      position: relative;
      top: 12px;
      right: 0;
    }

    &:target > ul#nav {
      display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
    }
  }

  ul#nav li {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
    text-align: left;
    border-bottom: 1px solid #2D2E34;
    border-bottom-style: dotted;

    a {
      display: block;
      margin: 0;
      padding: 0;
      margin: 12px 0;
      line-height: 16px;
      border: none;
    }
  }

  header {
    .banner {
      padding-bottom: 12px;
      padding-top: 6px;
    }

    .banner-text {
      h1 {
        font: 68px/1.1em $font-type;
      }

      h3 {
        font: 16px/1.9em $font-type;
        width: 85%;
      }

      hr {
        width: 80%;
        margin: 18px auto;
      }
    }

    .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;

      li {
        margin: 0 10px;
      }
    }

    .scrolldown {
      display: none;
    }
  }

  #about {
    .profile-pic {
      display: none;
    }

    .main-col {
      padding-right: 30px;
    }
  }

  .bars {
    width: 100%;
  }

  footer {
    .copyright li {
      &:before {
        content: none;
      }

      margin-right: 12px;
    }

    .social-links {
      font-size: 22px;

      li {
        margin-left: 18px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #nav-wrap ul#nav {
    width: auto;
    float: none;
  }
  
  header {
    height: 800px; 
    
    .banner {
      padding-top: 24px;
    }

    .banner-text {
      h1 {
        font: 40px/1.1em $font-type;
        margin: 0 auto 24px auto;
      }

      h3 {
        font: 14px/1.9em $font-type;
        width: 90%;
      }
    }

    .social {
      font-size: 20px;

      li {
        margin: 0 6px;
      }
    }
  }

  footer .social-links {
    font-size: 20px;

    li {
      margin-left: 14px;
    }
  }
}